.home {
    &__carousel {
        display: flex;
        justify-content: space-between;
    }

    &__image {
        width: 60%;
        height: 60%;
        margin-right: 5px;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}
