.cards {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0;

    &__card {
        width: 45%;
        flex: 2;
    }

    &__image {
        width: 105%;
        height: 60%;
        margin-bottom: 0.5rem;
    }

    &__brand {
        margin: 0;
        font-weight: 700;
        text-align: center;
        width: 90%;
    }

    &__name {
        margin: 0;
        width: 90%;
        text-align: center;
    }

    &__price {
        margin: 0;
        text-align: center;
        width: 80%;
    }
}
