body{
    margin: 1rem;
}

.size {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__num {
        flex: 50;
        border: solid black;
        text-align: center;
    }

    &__text{
        display: flex;
        flex: 50;
        // justify-content: space-around;
        text-align: center;
    }

    &__title {
        flex: 50;
        color: white;
        padding: 0.5rem;
    } 
    
    &__container {
        display: flex;
        background-color: #51619C;
        border-radius: 0.5rem;
    }

    &__arrow {
        height: 3rem;
        color: white;
        width: 2rem;
        padding: 1rem;
    }
}

.measure{
    display: flex;
    justify-content: center;
    align-items: center;

    &__cont {
        flex: 20;
        text-align: center;

        &--inch{
            border-bottom: 2px solid #51619C;
        }
    }


}

